.skew-button{
    background: #1e272e; color: white;
    padding: 12px 24px;
    border: 1px solid pink;
    position: relative; overflow: hidden;
    border-radius: 2px; transition: all 0.3s;
}
.skew-button::before{
    top: 0; left: -100%;    
    content: ""; position: absolute;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.2);
    background-color: rgb(28, 8, 142);
    transform: skewX(-30deg);
    transition: all 0.5s;
}
.skew-button:hover:before{
    left: 100%;
}