.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .click-butt {
    background-image: url(../images/voie.jpg);
    font-size: 1.2rem;
    padding: 0.75em 1.5em;
    width: 95%;
    max-width: 300px;
    max-height: 200px;
    margin: auto;
    display: block;
    border-radius: 30px;
    background-color: rgb(173, 47, 198);
    color: white;
    border: none;
    cursor: pointer
  }
  @media screen and (max-heigth: 400px) {
    .click-butt {
      font-size: 1rem;
    }
  }
  